body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1200px) {
    img{
        width: 15vw;
    }
}
@media screen and (min-width:1200px){
    img{
        width: 20vw;
    }
}

img{
    margin: 5vh;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60vh;
    gap: 1vw;
}

.short-info{
    background-color: var(--secondary);
    width: 25vh;
    height: 25vh;
    border-radius: 15px;
    padding: 1vh;
}

input[type="text"], input[type="password"]{
    margin-bottom: 2vh;
    border-radius: 15px;
    height: 40px;
    border-width: 3px;
    border-style: solid;
    border-color: var(--accent);
}
input[type="submit"]{
    border-radius: 15px;
    height: 40px;
    border-width: 3px;
    border-style: solid;
    border-color: var(--primary);
    background-color: var(--accent);
    margin-left: auto;
    margin-right: auto;
    transition: .2s;
}

input[type="submit"]:hover{
    transform: scale(1.2);
}




